@import "../variables.scss";

.footer-image {
  height: 400px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  h2 {
    font-family: $font-title;
    position: absolute;
    color: white;
    font-size: 6rem;
    bottom: 20px;
    left: 20px;
  }
}
