* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}


@font-face {
  font-family: "Brandon Grotesque";
  src: url(../src/assets/fonts/BrandonGrotesque-Regular.ttf);
  font-stretch: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Brandon Grotesque";
  src: url(../src/assets/fonts/BrandonGrotesque-Black.ttf);
  font-style: normal;
  font-weight: bolder;
}

@font-face {
  font-family: "Brandon Grotesque";
  src: url(../src/assets/fonts/BrandonGrotesque-Bold.ttf);
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Brandon Grotesque";
  src: url(../src/assets/fonts/BrandonGrotesque-Thin.ttf);
  font-style: normal;
  font-weight: lighter;
}